@model AddressBookViewModel

<h1>Add your addresses here</h1>

<form>
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" />
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control" />
    <label class="form-label">Email</label>
    <input type="text" class="form-control" />
    <label class="form-label">Phone</label>
    <input type="text" class="form-control" />
</form>