@model List<Address_Book.Models.AddressBookViewModel>

<h1>View address</h1>
@foreach (var item in Model)
{
        <h3>@item.first_name @item.last_name</h3>
        <p>@item.phone</p>
        <p>@item.email</p>
        <input type="submit" value="Delete" class="btn btn-danger">
        <input type="button" value="Edit" class="btn btn-warning">
        <hr />
}